<component name="libraryTable">
  <library name="spring-expression-5.2.9.RELEASE">
    <CLASSES>
      <root url="jar://E:/Program Files/repository/org/springframework/spring-expression/5.2.9.RELEASE/spring-expression-5.2.9.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>